body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555e6e;
    text-align: center;
}
header{
    margin: auto;

    padding:10px;
    word-wrap:break-word;

    background-color: #6b79e3;
}
main{
    padding: .75em;
}
.container {
    display: flex;
    padding: 1em;
}
.lower-container {
    display: flex;
}
#scramble{
    background-color: #6b79e3;
    width: 100%;
    text-align:center;

    border-radius: 15px;
    padding:10px;
    word-wrap:break-word;
    font-size: 50px;
    margin-left: 1em;
    margin-right: 1em;
}
button{
    margin: 0.5em;

    font-size: 1em; 
    padding: 1em 2em;
    cursor: pointer;

    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: #4291e6;
    border-radius: 15px;
}
#home-button{
    margin-right: auto;
    border-radius: 15px;
}
#prev-time{
    margin-left: auto;
    background-color: #3954c0;
    width: 100%;
    text-align:center;

    border-radius: 10px;
    padding:10px;
    word-wrap:break-word;
    font-size: 16px;
    margin-left: 1em;
    margin-right: 1em;
}
#times-box {
    background-color: #5965bb;
    width: 17%;
    height: 80vh;
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    overflow-y: auto;
    border-radius: 15px;
    font-size: 1.2em;

    margin-left: 1em;
    margin-right: 1em;
}
#timer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
    font-size: 8em;
    margin: 0;
    text-align: center;
} 
.timer-red{
    color: rgb(212, 4, 4);
}
.timer-green{
    color: rgb(0, 172, 0);
}
.timer-black{
    color: black;
}
button:hover{
    background-color: #0056b3;
}